@page "/engineer-objects"

@using AutomationListLibrary
@using AutomationListLibrary.Data
@using AutomationListLibrary.DataAccess
@using AutomationListLibrary.DataManager
@using AutomationListUI.Models
@using AutomationListUI.Services
@using AutomationListUI.Validators
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using System.ComponentModel.DataAnnotations

@inject IObjectService _objectService
@inject ITagService _tagService
@inject CategoryDataManager _categoryDB
@inject SubCategoryDataManager _subCategoryDB

<h3>Objects</h3>

<SfGrid DataSource="Objects"
		@ref="@ObjectGrid"
		AllowFiltering="true"
		AllowReordering="true"
		AllowResizing="true"
		AllowSelection="true"
		AllowSorting="true"
		Height="400"
		EnableStickyHeader=true
		Toolbar="@ObjectToolbarItems">
	<GridEvents 
		RowSelected="GetSelectedObject"
		Filtering="FilteringHandler" 
		Filtered="FilteredHandler"
		CellSaved="ObjectCellSavedHandler"
		DataBound="DataboundHandler"
		TValue="DisplayObjectModel"
		OnToolbarClick="ObjectToolbarClickHandler"/>
	<GridEditSettings AllowAdding="true"
					  AllowEditing="true"
					  AllowDeleting="true"
					  ShowConfirmDialog="false"
					  ShowDeleteConfirmDialog="true"
					  Mode="EditMode.Batch" />
	<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar" Mode="Syncfusion.Blazor.Grids.FilterBarMode.Immediate" />
	<GridPageSettings PageSizes="true" />
	<GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single" />
	<GridAggregates>
		<GridAggregate>
			<GridAggregateColumns>
				<GridAggregateColumn Field=@nameof(DisplayObjectModel.SfiNumber) Type="AggregateType.Count">
					<FooterTemplate>
						@{
							var aggregate = (context as AggregateTemplateContext);
							<div>
								<p>Objects: @aggregate.Count</p>
							</div>
						}
					</FooterTemplate>
				</GridAggregateColumn>
				<GridAggregateColumn Field=@nameof(DisplayObjectModel.MainEqNumber) Type="AggregateType.Custom">
					<FooterTemplate>
						@{
							<div>
								<p>Tags: @GetNumberOfTags()</p>
							</div>
						}
					</FooterTemplate>
				</GridAggregateColumn>
			</GridAggregateColumns>
		</GridAggregate>
	</GridAggregates>
	<GridColumns>
		<GridColumn Field=@nameof(DisplayObjectModel.Id) Visible="false" IsPrimaryKey="true" />
		<GridColumn Field=@nameof(DisplayObjectModel.ReadyForHMIGeneration) HeaderText="HMI Ready" Width="90" DisplayAsCheckBox="true" Type="Syncfusion.Blazor.Grids.ColumnType.Boolean" />
		<GridColumn Field=@nameof(DisplayObjectModel.ReadyForPLCGeneration) HeaderText="PLC Ready" Width="90" DisplayAsCheckBox="true" Type="Syncfusion.Blazor.Grids.ColumnType.Boolean" />
		<GridColumn Field=@nameof(DisplayObjectModel.SfiNumber) HeaderText="Sfi" Width="90" />
		<GridColumn Field=@nameof(DisplayObjectModel.MainEqNumber) HeaderText="MainEq" Width="90" />
		<GridColumn Field=@nameof(DisplayObjectModel.EqNumber) HeaderText="Eq" Width="60" />
		<GridColumn Field=@nameof(DisplayObjectModel.FullObjectName) HeaderText="Object Name" Width="150"/>
		<GridColumn Field=@nameof(DisplayObjectModel.Description) HeaderText="Description" Width="150"/>
		<GridColumn Field=@nameof(DisplayObjectModel.VduGroup) HeaderText="Vdu Group" Width="150"/>
		<GridColumn Field=@nameof(DisplayObjectModel.ObjectType) HeaderText="Object Type" Width="200" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="ObjectType" ShowClearButton=true TItem="ObjectType" TValue="string" @bind-Value="@((context as DisplayObjectModel).ObjectType)" DataSource="@ObjectTypes">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.Otd) HeaderText="OTD" Width="190" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="Otd" ShowClearButton=true TItem="Otd" TValue="string" @bind-Value="@((context as DisplayObjectModel).Otd)" DataSource="@Otds">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.Cabinet) HeaderText="Cabinet" Width="130" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="Cabinet" ShowClearButton=true TItem="Cabinet" TValue="string" @bind-Value="@((context as DisplayObjectModel).Cabinet)" DataSource="@Cabinets">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.Node) HeaderText="Node" Width="130" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="Node" ShowClearButton=true TItem="Node" TValue="string" @bind-Value="@((context as DisplayObjectModel).Node)" DataSource="@Nodes">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.Hierarchy1) HeaderText="Main Pic" Width="150" EditType="EditType.DropDownEdit" EditorSettings="@MainPictureEditParams"/>
		<GridColumn Field=@nameof(DisplayObjectModel.Hierarchy2) HeaderText="Sub Pic" Width="150" EditType="EditType.DropDownEdit" EditorSettings="@SubPictureEditParams"/>
		<GridColumn Field=@nameof(DisplayObjectModel.AcknowledgeAllowed) HeaderText="Ack Allowed" Width="150" EditType="EditType.DropDownEdit" EditorSettings="@AckAllowedEditParams"/>
		<GridColumn Field=@nameof(DisplayObjectModel.AlwaysVisible) HeaderText="Always Visible" Width="150" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="AlwaysVisible" ShowClearButton=true TItem="AlwaysVisible" TValue="string" @bind-Value="@((context as DisplayObjectModel).AlwaysVisible)" DataSource="@AlwaysVisibleLocations">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.AlarmGroup) HeaderText="Alarm Group" Width="150" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="AlarmGroup" ShowClearButton=true TItem="AlarmGroup" TValue="string" @bind-Value="@((context as DisplayObjectModel).AlarmGroup)" DataSource="@AlarmGroups">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.EasGroup) HeaderText="Eas Group" Width="150" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfDropDownList ID="EasGroup" ShowClearButton=true TItem="EasGroup" TValue="string" @bind-Value="@((context as DisplayObjectModel).EasGroup)" DataSource="@EasGroups">
					<DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
				</SfDropDownList>
			</EditTemplate>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayObjectModel.LastModified) HeaderText="Last Modified" Width="130" Format="dd.MM.yyyy" />
	</GridColumns>
</SfGrid>
<h6>Object Count: @ObjectCount - Tag Count: </h6>
<br />

<h3>Tags</h3>
<SfGrid DataSource="@Tags"
		@ref="@TagGrid"
		AllowReordering="true"
		AllowResizing="true"
		AllowSelection="true"
		Height="300"
		Toolbar=@TagToolbarItems>
	<GridEvents OnToolbarClick="TagToolbarClickHandler"
				RowSelected="GetSelectedTag"
				TValue="DisplayTagModel"
				CellSaved="TagCellSavedHandler" />
	<GridEditSettings AllowAdding="true"
					  AllowEditing="true"
					  AllowDeleting="true"
					  ShowConfirmDialog="false"
					  ShowDeleteConfirmDialog="true"
					  Mode="EditMode.Batch">
	</GridEditSettings>
	<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox" />
	<GridPageSettings PageSizes="true" />
	<GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single" />
	<GridColumns>
		<GridColumn Field=@nameof(DisplayTagModel.Id) Visible=false IsPrimaryKey="true" />
		<GridColumn Field=@nameof(DisplayTagModel.FullTagName) HeaderText="Tag Name" Width="160" AllowEditing=false>
			<Template>
				@{
					var tag = (context as DisplayTagModel);
					if (tag.ObjectId == 0)
					{
						tag.ObjectId = SelectedObject.Id;
						tag.ObjectName = SelectedObject.FullObjectName;
					}
					<div>@tag.FullTagName</div>
				}
			</Template>
		</GridColumn>
		<GridColumn Field=@nameof(DisplayTagModel.ReadyForSWGeneration) HeaderText="SW Ready" DisplayAsCheckBox="true" Type="Syncfusion.Blazor.Grids.ColumnType.Boolean" Width="90" />
		<GridColumn Field=@nameof(DisplayTagModel.EqSuffix) HeaderText="Eq Suffix" Width="90"/>
		<GridColumn Field=@nameof(DisplayTagModel.Description) HeaderText="Description" Width="150" />
		<GridColumn Field=@nameof(DisplayTagModel.IoType) HeaderText="Io Type" Width="150" EditType="EditType.DropDownEdit" EditorSettings="@IoTypeEditParams" />
		<GridColumn Field=@nameof(DisplayTagModel.SignalType) HeaderText="Signal Type" Width="150" EditType="EditType.DropDownEdit" EditorSettings="@SignalTypeEditParams"/>
		<GridColumn Field=@nameof(DisplayTagModel.EngUnit) HeaderText="Eng unit" />
		<GridColumn Field=@nameof(DisplayTagModel.SWPath) HeaderText="SW Path" />
		<GridColumn Field=@nameof(DisplayTagModel.DBName) HeaderText="DB Name" />
		<GridColumn Field=@nameof(DisplayTagModel.RangeLow) HeaderText="Range L" />
		<GridColumn Field=@nameof(DisplayTagModel.RangeHigh) HeaderText="Range H" />
		<GridColumn Field=@nameof(DisplayTagModel.LowLowLimit) HeaderText="Alm LL" />
		<GridColumn Field=@nameof(DisplayTagModel.LowLimit) HeaderText="Alm L" />
		<GridColumn Field=@nameof(DisplayTagModel.HighLimit) HeaderText="Alm H" />
		<GridColumn Field=@nameof(DisplayTagModel.HighHighLimit) HeaderText="Alm HH" />
		<GridColumn Field=@nameof(DisplayTagModel.ModbusAddress) HeaderText="Modbus Address" />
		<GridColumn Field=@nameof(DisplayTagModel.ModbusBit) HeaderText="Modbus Bit" />
		<GridColumn Field=@nameof(DisplayTagModel.AbsoluteAddress) HeaderText="Abs Address" />
	</GridColumns>
</SfGrid>


@code {
	// Grids
	private SfGrid<DisplayTagModel>? TagGrid;
	private SfGrid<DisplayObjectModel>? ObjectGrid = new();

	// Objects and tags
	public List<DisplayTagModel>? Tags { get; set; }
	public List<DisplayObjectModel>? Objects { get; set; }
	public DisplayTagModel? SelectedTag { get; set; }
	public DisplayObjectModel? SelectedObject { get; set; }

	// Categories
	public List<Otd>? Otds { get; set; } = new();
	public List<Node>? Nodes { get; set; } = new();
	public List<IoType>? IoTypes { get; set; } = new();
	public List<Cabinet>? Cabinets { get; set; } = new();
	public List<VduGroup>? VduGroups { get; set; } = new();
	public List<EasGroup>? EasGroups { get; set; } = new();
	public List<AlarmGroup>? AlarmGroups { get; set; } = new();
	public List<SignalType>? SignalTypes { get; set; } = new();
	public List<ObjectType>? ObjectTypes { get; set; } = new();
	public List<Hierarchy2>? SubPictures { get; set; } = new();
	public List<Hierarchy1>? MainPictures { get; set; } = new();
	public List<AlwaysVisible>? AlwaysVisibleLocations { get; set; } = new();
	public List<AcknowledgeAllowed>? AckAllowedLocations { get; set; } = new();

	// Counts
	public int ObjectCount { get; set; }
	public int TagsCount { get; set; }

	// Toolbar items
	private List<Object> TagToolbarItems = new List<Object>() { "Add", "Delete", "Edit", "Update", "Cancel", new ItemModel() { Text = "Duplicate", TooltipText = "Duplicate", PrefixIcon = "e-duplicate", Id = "Duplicate" } };
	private List<Object> ObjectToolbarItems = new List<Object>() { "Add", "Delete", "Edit", "Update", "Cancel", "ExcelExport", "Search", new ItemModel() { Text = "Duplicate", TooltipText = "Duplicate", PrefixIcon = "e-duplicate", Id = "Duplicate" } };

	#region Drop down parameters
	public DropDownEditCellParams OtdEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams NodeEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams CabinetEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams EasGroupEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams AlarmGroupEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams SubPictureEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams AckAllowedEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams MainPictureEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams AlwaysVisibleEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayObjectModel>(),
				ShowClearButton = true
			}
		};
	public static DropDownEditCellParams dropDownTagTemplate = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayTagModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams IoTypeEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayTagModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams SignalTypeEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayTagModel>(),
				ShowClearButton = true
			}
		};
	public DropDownEditCellParams ObjectTypeEditParams = new DropDownEditCellParams
		{
			Params = new DropDownListModel<object, object>()
			{
				DataSource = new List<DisplayTagModel>(),
				ShowClearButton = true
			}
		};
	#endregion

	protected override async Task OnInitializedAsync()
	{
		// Categories
		Otds = await _categoryDB.GetOtdCategory();
		Nodes = await _categoryDB.GetNodeCategory();
		IoTypes = await _categoryDB.GetIoTypeCategory();
		Cabinets = await _categoryDB.GetCabinetCategory();
		EasGroups = await _categoryDB.GetEasGroupCategory();
		AlarmGroups = await _categoryDB.GetAlarmGroupCategory();
		ObjectTypes = await _categoryDB.GetObjectTypeCategory();
		MainPictures = await _categoryDB.GetHierarchy1Category();
		AckAllowedLocations = await _categoryDB.GetAckAllowedCategory();
		AlwaysVisibleLocations = await _categoryDB.GetAlwaysVisibleCategory();

		// Dropdown menu params
		OtdEditParams.Params.DataSource = Otds.Select(otd => new DisplayObjectModel() { Otd = otd.Name }).ToList();
		NodeEditParams.Params.DataSource = Nodes.Select(node => new DisplayObjectModel() { Node = node.Name }).ToList();
		IoTypeEditParams.Params.DataSource = IoTypes.Select(ioType => new DisplayTagModel() { IoType = ioType.Name }).ToList();
		CabinetEditParams.Params.DataSource = Cabinets.Select(cabinet => new DisplayObjectModel() { Cabinet = cabinet.Name }).ToList();
		EasGroupEditParams.Params.DataSource = EasGroups.Select(easGroup => new DisplayObjectModel() { EasGroup = easGroup.Name }).ToList();
		AlarmGroupEditParams.Params.DataSource = AlarmGroups.Select(alarmGroup => new DisplayObjectModel() { AlarmGroup = alarmGroup.Name }).ToList();
		ObjectTypeEditParams.Params.DataSource = ObjectTypes.Select(objectType => new DisplayObjectModel() { ObjectType = objectType.Name }).ToList();
		MainPictureEditParams.Params.DataSource = MainPictures.Select(mainPicture => new DisplayObjectModel() { Hierarchy1 = mainPicture.Name }).ToList();
		AckAllowedEditParams.Params.DataSource = AckAllowedLocations.Select(ackAllowed => new DisplayObjectModel() { AcknowledgeAllowed = ackAllowed.Name }).ToList();
		AlwaysVisibleEditParams.Params.DataSource = AlwaysVisibleLocations.Select(alwaysVisible => new DisplayObjectModel() { AlwaysVisible = alwaysVisible.Name }).ToList();

		Objects = await _objectService.GetObjectsAsync();

		foreach (var ioType in IoTypes)
		{
			ioType.SignalTypes = await _subCategoryDB.GetSignalTypesAsync(ioType.Name);
		}
		foreach (var mainPic in MainPictures)
		{
			mainPic.SubPictures = await _subCategoryDB.GetHierarchy2CategoryAsync(mainPic.Name);
		}
		foreach (var otd in Otds)
		{
			otd.Interface = await _subCategoryDB.GetOtdInterfacesAsync(otd.Name);
		}
		foreach (var obj in Objects)
		{
			Otd otd = Otds.Where(otd => otd.Name == obj.Otd).FirstOrDefault();
			obj.OtdInterface = otd;

			obj.Tags = await _tagService.GetTagsByObjectIdAsync(obj.Id);
		}
		ObjectCount = Objects.Count();
	}

	public async Task FilteringHandler(Syncfusion.Blazor.Grids.FilteringEventArgs args)
	{
		ObjectCount = await GetNumberOfObjects();
	}

	public void DataboundHandler(object args)
	{
		this.ObjectGrid.AutoFitColumnsAsync(new string[] { "FullObjectName", "Description", "VduGroup" });
	}

	public async Task FilteredHandler(FilteredEventArgs args)
	{
		ObjectCount = await GetNumberOfObjects();
		// TagsCount = await GetNumberOfTags();
	}

	public async Task TagCellSavedHandler(CellSavedArgs<DisplayTagModel> args)
	{
		var index = await TagGrid.GetRowIndexByPrimaryKey(args.RowData.Id);
		if (args.ColumnName == "IoType")
		{
			string selectedIoType = args.Value.ToString();
			SignalTypes = (await _subCategoryDB.GetSignalTypesAsync(selectedIoType)).ToList();
			SignalTypeEditParams.Params.DataSource = SignalTypes.Select(signalType => new DisplayTagModel() { SignalType = signalType.Name }).ToList();

			await TagGrid.UpdateCellAsync(index, "SignalType", null);
		}
	}

	public async Task ObjectCellSavedHandler(CellSavedArgs<DisplayObjectModel> args)
	{
		var index = await ObjectGrid.GetRowIndexByPrimaryKey(args.RowData.Id);
		if (args == null || args.Value == null) return;
		if (args.ColumnName == "Hierarchy1")
		{
			string selectedMainPicture = args.Value.ToString();
			SubPictures = (await _subCategoryDB.GetHierarchy2CategoryAsync(selectedMainPicture)).ToList();
			SubPictureEditParams.Params.DataSource = SubPictures.Select(subPicture => new DisplayObjectModel() { Hierarchy2 = subPicture.Name }).ToList();

			await ObjectGrid.UpdateCellAsync(index, "Hierarchy2", null);
		}
		if (args.ColumnName == "ObjectType")
		{
			string selectedObjectType = args.Value.ToString();
			string matchingOtd = ObjectTypes.Where(objectType => objectType.Name == selectedObjectType)
											.Select(objectType => objectType.OtdName)
											.FirstOrDefault();
			await ObjectGrid.UpdateCellAsync(index, "Otd", matchingOtd);
		}
		StateHasChanged();
	}

	public async Task GetSelectedObject(RowSelectEventArgs<DisplayObjectModel> args)
	{
		SelectedObject = (await this.ObjectGrid.GetSelectedRecordsAsync()).FirstOrDefault();
		if (SelectedObject == null) return;

		Tags = await _tagService.GetTagsByObjectIdAsync(SelectedObject.Id);
		foreach (var tag in Tags)
		{
			tag.ObjectName = SelectedObject.FullObjectName;
		}
		if (SelectedObject.Hierarchy1 != null)
		{
			SubPictures = await _subCategoryDB.GetHierarchy2CategoryAsync(SelectedObject.Hierarchy1);
			SubPictureEditParams.Params.DataSource = SubPictures.Select(subPicture => new DisplayObjectModel() { Hierarchy2 = subPicture.Name }).ToList();
		}
		StateHasChanged();
	}

	public async Task<int> GetNumberOfObjects()
	{
		var filteredRecords = ObjectGrid.GetFilteredRecordsAsync();
		var filteredObjects = (List<DisplayObjectModel>)filteredRecords.Result;
		var source = ObjectGrid.CurrentViewData;
		return filteredObjects.Count();
	}

	public int GetNumberOfTags()
	{
		var source = ObjectGrid.CurrentViewData;
		IEnumerable<DisplayObjectModel> gridObjects = source.Cast<DisplayObjectModel>();
		foreach (var obj in gridObjects)
		{
			var tags = Task.Run(async () => await _tagService.GetTagsByObjectIdAsync(obj.Id)).Result.ToList();
			obj.Tags = tags;
		}

		int _numberOfTags = gridObjects.SelectMany(obj => obj.Tags).Count();
		return _numberOfTags;
	}

	public async Task GetSelectedTag(RowSelectEventArgs<DisplayTagModel> args)
	{
		SelectedTag = (await this.TagGrid.GetSelectedRecordsAsync()).FirstOrDefault();

		if (SelectedTag == null || SelectedObject == null) return;

		if (SelectedTag.ObjectId == 0)
		{
			SelectedTag.ObjectId = SelectedObject.Id;
		}
		if (SelectedTag.IoType != null)
		{
			SignalTypes = await _subCategoryDB.GetSignalTypesAsync(SelectedTag.IoType);
		}
		StateHasChanged();
	}


	public async Task ObjectToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
	{
		if (args.Item.Text == "Update")
		{
			var objectChanges = await this.ObjectGrid.GetBatchChangesAsync();

			if (objectChanges.AddedRecords.Count > 0)
			{
				foreach (var newObject in objectChanges.AddedRecords)
				{
					if (newObject.Otd == null)
					{
						newObject.Otd = await _categoryDB.GetOtdByObjectType(newObject.ObjectType);
					}
					await _objectService.InsertObjectAsync(newObject);

					if (newObject.ObjectType != null)
					{
						var objectTypeTags = await _tagService.GetTagsByObjectTypeAsync(newObject.ObjectType);
						int newObjectId = await _objectService.GetLastInsertedObjectId();
						foreach (var tag in objectTypeTags)
						{
							await _tagService.InsertTagAsync(newObjectId, tag);
						}
					}
					ObjectCount += 1;
				}
			}
			if (objectChanges.ChangedRecords.Count > 0)
			{
				foreach (var obj in objectChanges.ChangedRecords)
				{
					await _objectService.UpdateObjectAsync(obj);
				}
			}
			if (objectChanges.DeletedRecords.Count > 0)
			{
				foreach (var obj in objectChanges.DeletedRecords)
				{
					var tags = await _tagService.GetTagsByObjectIdAsync(obj.Id);
					foreach (var tag in tags)
					{
						await _tagService.DeleteTagAsync(tag.Id);
					}
					await _objectService.DeleteObjectAsync(obj.Id);
				}
				ObjectCount -= 1;
			}
			Objects = await _objectService.GetObjectsAsync();
		}

		if (args.Item.Text == "Delete")
		{
			if (SelectedObject == null) return;
			var tags = await _tagService.GetTagsByObjectIdAsync(SelectedObject.Id);
			foreach (var tag in tags)
			{
				await _tagService.DeleteTagAsync(tag.Id);
			}
			await _objectService.DeleteObjectAsync(SelectedObject.Id);
			ObjectCount -= 1;
		}

		if (args.Item.Text == "Duplicate")
		{
			if (SelectedObject == null) return;

			DisplayObjectModel newObject = SelectedObject;

			int counter = 1;
			string newName = SelectedObject.FullObjectName;

			List<string> objectNames = Objects.Select(obj => obj.FullObjectName).ToList();

			// Keep adding "_01", "_02", etc. until a unique name is found
			while (objectNames.Contains(newName))
			{
				newName = $"{SelectedObject.FullObjectName}_{counter:00}";
				newObject.EqNumber = $"{SelectedObject.EqNumber}_{counter:00}";
				counter++;
			}

			await _objectService.InsertObjectAsync(newObject);
			int newObjectId = await _objectService.GetLastInsertedObjectId();
			foreach (var tag in SelectedObject.Tags)
			{
				await _tagService.InsertTagAsync(newObjectId, tag);
			}
			Objects = await _objectService.GetObjectsAsync();
		}
		if (args.Item.Id == "Grid_pdfexport")
		{
		}
	}
	
	public async Task TagToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
	{
		if (args.Item.Text == "Update")
		{
			var tagChanges = await this.TagGrid.GetBatchChangesAsync();

			if (tagChanges.AddedRecords.Count > 0)
			{
				foreach (var tag in tagChanges.AddedRecords)
				{
					await _tagService.InsertTagAsync(SelectedObject.Id, tag);
				}
			}
			if (tagChanges.ChangedRecords.Count > 0)
			{
				foreach (var tag in tagChanges.ChangedRecords)
				{
					await _tagService.UpdateTagAsync(tag);
				}
			}
			if (tagChanges.DeletedRecords.Count > 0)
			{
				foreach (var tag in tagChanges.DeletedRecords)
				{
					await _tagService.DeleteTagAsync(tag.Id);
				}
			}

			if (SelectedObject == null) return;
			Tags = await _tagService.GetTagsByObjectIdAsync(SelectedObject.Id);
			foreach (var tag in Tags)
			{
				tag.ObjectName = SelectedObject.FullObjectName;
			}
		}

		if (args.Item.Text == "Delete")
		{
			if (SelectedTag == null) return;
			await _tagService.DeleteTagAsync(SelectedTag.Id);
		}
	}
}
