@page "/picture-hierarchy"

@using AutomationListLibrary.Data
@using AutomationListLibrary.DataManager

@inject CategoryDataManager _categoryDB
@inject SubCategoryDataManager _subCategoryDB

<h1>Picture Hierarchy</h1>
<hr />        
<br/>

<!-- VDU groups -->
<div class="card-group">
    <div class="vdu-list">
		<h4>Customer Groups</h4>
        <div class="control-section">
            <div id="flat-list">
                <SfListView DataSource="@VduGroups"
                            TValue="VduGroup"
                            Width="300">
                    <ListViewFieldSettings TValue="VduGroup" Id="Id" Text="Name"></ListViewFieldSettings>
                </SfListView>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <!-- Hierarchy 1 -->
    <div class="card-under-group">
		<h4>Main Pictures</h4>
        <EditForm Model="@newMainPicture">
            <InputText id="Name" @bind-Value="newMainPicture.Name" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>

        <div class="control-section">
            <div id="flat-list">
                <SfListView DataSource="@MainPictures" CssClass="e-list-template" Width="300">
                    <ListViewFieldSettings TValue="Hierarchy1" Id="Id" Text="Name"></ListViewFieldSettings>
                    <ListViewTemplates TValue="Hierarchy1">
                        <Template>
                            @{
                                Hierarchy1 currentData = (Hierarchy1)context;
                                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(currentData))">
                                    <span class="e-list-item-header">@currentData.Name</span>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>
    </div>
    <!-- Hierarchy 2 -->
    <div class="card-under-group">
		<h4>Sub Pictures</h4>
        <EditForm Model="@newMainPicture">
            <InputText id="Name" @bind-Value="newMainPicture.Name" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
        @if (SelectedMainPicture != null)
        {
            <SfListView DataSource="@SelectedMainPicture.SubPictures" CssClass="e-list-template" Width="400">
                <ListViewFieldSettings TValue="Hierarchy2" Id="Id" Text="Name"></ListViewFieldSettings>
                <ListViewTemplates TValue="Hierarchy2">
                    <Template>
                        @{
                            Hierarchy2 currentData = (Hierarchy2)context;
                            <div class="e-list-wrapper e-list-multi-line e-list-avatar">
                                <span class="e-list-item-header">@currentData.Name</span>
                            </div>
                        }
                    </Template>
                </ListViewTemplates>
            </SfListView>
        }
    </div>
</div>

@code {
    List<VduGroup> VduGroups = new List<VduGroup>();
    private const bool Value = true;
    List<Hierarchy1> MainPictures = new List<Hierarchy1>();
    Hierarchy1 newMainPicture = new Hierarchy1();
    Hierarchy2 newSubPicture = new Hierarchy2();
    Hierarchy1? SelectedMainPicture;

    string message;

    protected override async Task OnInitializedAsync()
    {
        VduGroups = await _categoryDB.GetVduGroupCategory();
        MainPictures = await _categoryDB.GetHierarchy1Category();
        foreach (var picture in MainPictures)
        {
            picture.SubPictures = (await _subCategoryDB.GetHierarchy2CategoryAsync(picture.Name)).ToList();
        }
    }

    void OnSelect(Hierarchy1 currentData)
    {
        if (currentData == null)
        {
            return;
        }
        SelectedMainPicture = currentData;
        //message = SelectedMainPicture.Name;
    }
}

<style>
    .card-group {
        min-height: 600px;
        margin-right: 50px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: solid;
        border-color: lightgrey;
        float: left;
    }

    .vdu-list {
        width: 400;
    }

    h4 {
        padding-left: 10px;
        padding-top: 10px;
    }

    .card-under-group {
        min-height: 500px;
        width: 390px;
    }

    /*Sample level customization styles*/
    .listview, .listview-group {
        border: 1px solid #dddddd;
        border-bottom: 0px;
        border-radius: 3px;
    }

    .fluent .listview, .fluent .listview-group,
    .fluent-dark .listview, .fluent-dark .listview-group {
        border-bottom: 1px solid #dddddd;
    }

    #flat-list,
    #group-list {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

    #flat-list h4, #group-list h4 {
        padding-left: 10px;
    }

    #flat-list {
        float: left;
        padding-left: 10px;
    }

    #group-list {
        float: right;
        padding-right: 10px;
    }
</style>